.heroImage {
  position: relative;
}

.heroImage::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  top: -40px;
  z-index: -1;
  border-radius: 400px;
  height: 50vh;
  width: 50vh;
  transition: 0.8s;
  animation: rise-up 16000ms ease infinite;
}

@keyframes rise-up {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.08;
  }
  50% {
    scale: 1.08;
  }
  75% {
    scale: 1;
  }
}

