.animate-button {
  position: relative;
  cursor: pointer;
}

.animate-button::after {
  content: "";
  background: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  transition: 0.4s;
  z-index: -1;
}

.animate-button:hover::after {
  border-radius: 200px;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
}
.showMenu {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
  width: fit-content;
  opacity: 1;
}

.hideMenu {
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
  transform: translateY(60px);
  opacity: 0;
}

.active-link {
  position: relative;
  padding-bottom: 10px;
}

.active-link::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  z-index: -1;
  top: -6px;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  transition: 0.6s;
}

.inactive-link {
  position: relative;
  padding-bottom: 10px;
}
.inactive-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -12px;
  top: -15px;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  transition: 0.4s;
}

.active {
  transition: all ease-in 0.5s;
}

.inactive {
  transition: all ease-in-out 0.3s;
}

.bar1.active {
  width: 30%;
  transform: rotateZ(-45deg);
}
.bar2.active {
  width: 20%;
  transform: rotateZ(-45deg);
}
.bar3.active {
  width: 10%;
  transform: rotateZ(-45deg);
}

.menuItems {
  transition: all 0.4s ease-in;
}
